 *{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

header h1{
    font-family: 'Inconsolata', monospace;  
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 20px ;
    margin: 20px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
    color:#333333;
    position: relative;    
    left: 20px;
    top: 20px;
        
}

.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 100vh;
}
.right-side{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.container img{
    width:100%;
    max-width: 450px;
    height: auto;
    position: relative;
    left: 0;
    top: 0;   
}
.title{ 
    position: relative;     
    font-family: Space Mono;
    font-weight: bold;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: -0.035em;
    color: #333333;
  
    }

.text{
    
    position: relative;           
    font-family: Space Mono;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.035em;    
    color: #4F4F4F;    
    }

.button{   
    display: block;
    position: relative;
    width: 216px;
    height: 68px;
    font-family: Space Mono;   
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    background-color:#333333;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    padding-top: 22px;
    }
.button:hover{
    background-color: #4F4F4F;
}

.footer {
    position:relative; 
    width: 100vw;    
    left: 0;
    bottom: 0;   
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #9b9999;
}

@media (max-width:814px){
    .container{
        flex-direction: column;
    }
@media (max-width:576px){    
    .title{       
        font-size: 48px;
    }
    .text{
        font-size:18px;
    }
    .button{
        width: 150px;
        height: 45px;
        font-size: 14px;
        padding-top: 13px;
    }
   
}





